body {
	background-color: black;
	background-image: url("../images/bg.jpg");
	color: white;

}

#pic {
	width: 60%;
	max-width: 700px;
	float: center;
	display: block;
    margin: auto;


}

button {
	width: 60%;
	max-width: 700px;
	height: 40px;
	float: center;
	display: block;
    margin: auto;
}

button.answerchoice {
	display: none;

}

button:hover {
	background-color: gray;
	color: white;
}

.answers div {
	margin: 0 auto;
}


h1, h2, h3, .question {
	text-align: center;
}